<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <ul>
            <li><a href="./?action=agregar_usuario">Registrarse</a></li>
            <li><a href="./?action=login">Iniciar Sesion</a></li>
            <li><a href="./?action=logout">Cerrar Sesion</a></li>
        </ul>
    </body>
</html>
